<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <% if @image.file? %>
      <div class="form-group">
        <p>Current avatar</p>
        <%= image_tag( @image.file.url ) %>
      </div>
    <% end %>
    <%= f.label :file %>
    <%= f.file_field :file %>
    <%= f.hidden_field :file_cache %>


    <%= f.submit %>
  </div>
<% end %>
